body, input, textarea, button, ::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

body {
    color: #021c1e;
    background-color: #fcf1d8;
}

h1 {
    text-align: center;
    color: #b6641c;
}

div {
    align-content: center;
    margin: auto;
    border-radius: 5px;
}

div.table-container {
    width: 1200px;
    background-color: #fdf7e9;
    padding: 10px;
    border: white 1px solid;
}

div.link-box {
    background-color: white;
    width: 25%;
}

div.new-question {
    width: 600px;
    background-color: #fdf7e9;
    padding: 5px;
}

div.new-question input, textarea {
    width: 100%;
    box-sizing: border-box;
}

div.new-answer {
    width: 90%;
    background-color: #fdf7e9;
    padding: 25px 60px;
    box-sizing: border-box;
}

div.question-page-frame {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    background-color: white;
}

div.question-page-content {
    display: inline-table;
    vertical-align: top;
}

div.question-details {
    width: 40%;
}

div.question-comments {
    width: 40%;
}

div.answer-container {
    width: 50%;
}

div.answer-comments {
    width: 30%;
}

div.answer-frame {
    background-color: #fdf7e9;
    border: 1px solid white;
}

div.page-header {
    height: 100px;
}

div.page-header-content {
    display: inline-block;
    width: 33%;
}

div.user-frame {
    margin-left: auto;
    margin-right: 5px;
    text-align: right;
    float: right;
}

div.search {
    float: left;
}

div.user-activities {
    text-align: center;
}

a {
    color: #1b7a72;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}

th {
    border-bottom: 1px solid #61a17b;
    padding: 5px;
}

.content-wrapper {
    text-align: center;
}

td {
    padding: 5px;
}

td.question-title {
    text-align: left;
}

input, textarea, button {
    border-radius: 5px;
    border: #61a17b 0.5px solid;
    padding: 7px;
    box-sizing: border-box;
}

button {
    background-color: #f4cc70;
    border-color: #b6641c;
    margin: 5px;
}

p.main-message {
    font-size: 20px;
}

footer {
    width: 300px;
    margin: 20px auto;
    background-color: white;
    padding: 7px;
}
