<!DOCTYPE HTML> 

<html>

<head> 
	<title>AskMate by Iron Brando </title>


</head>

<body>
	<h1>Question details: </h1>
	<h2>Question title:</h2> <br>
	{{ needed_post["title"]}}<br><br>

    <h2>In details: <br></h2>
	{{ needed_post["message"]}}<br><br>

	<form action="/details" method = "post"> 
		<input name = "post_id" value = "{{ needed_post['id']}}" hidden>
		<input type="submit" value="Upvote this question" />
    </form> 
    <br>


	<form action="/details_down" method = "post"> 
		<input name = "post_id" value = "{{ needed_post['id']}}" hidden>
		<input type="submit" value="Downvote this question" />
    </form> 
    <br>
    

	<a href="{{url_for_new_answer}}">Add a new answer</a>
	
	<h2>Previous Answers to this question: </h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Submission time</th>
            <th>Message</th>
            <th>Vote number</th>
        </tr>
    {% for dict_of_answer in answers_to_list %}
        <tr>
            <td align=center>{{ dict_of_answer["id"][:8] + "..."  }}</td>
            <td align=center>{{ dict_of_answer["submission_time"] }}</td>
            <td align=center>{{ dict_of_answer["message"] }}</td>
            <td align=center>{{ dict_of_answer["vote_number"] }}</td>

    {% endfor %}

    </table>
	<p><a href="/">Back to the Homepage</a></p>
</body>

</html>


