<!DOCTYPE HTML> 

<html>

<head> 
	<title>AskMate by Iron Brando </title>


</head>

<body>
	<h1>Question details: </h1>
	<h2>Question title:</h2> <br>
	{{ needed_post["title"]}}<br><br>

    <h2>In details: <br></h2>
	{{ needed_post["message"]}}<br><br>

	<form action="/up_vote"> <input type="submit" value="Upvote this question" />
	</form> 	<button>Downvote this question</button>
	<p>number of upvotes: {{ up_vote }}</p>

	<h2>Answer:</h2>
		<form><textarea name="answer" id="answer" cols="60" rows="10"></textarea></form> <br>

            <input type="submit" value="Submit Answer">

	
	<h2>Previous Answers to this question: </h2>


</body>

</html>


