<!DOCTYPE HTML> 

<html>

<head> 
	<title>AskMate by Iron Brando </title>


</head>

<body>
	<h1>Question details: </h1>
	<h2>Question title:</h2> <br>
	{{ needed_post["title"]}}<br><br>

    <h2>In details: <br></h2>
	{{ needed_post["message"]}}<br><br>

	<form action="/details" method = "post"> 
		<input name = "post_id" value = "{{ needed_post['id']}}" hidden>
		<input type="submit" value="Upvote this question" />
	</form> 

	<form action="/details_down" method = "post"> 
		<input name = "post_id" value = "{{ needed_post['id']}}" hidden>
		<input type="submit" value="Downvote this question" />
	</form> 

	<a href="/answer">Add a new answer</a>
	
	<h2>Previous Answers to this question: </h2>

	<a href="/">Back to the Homepage</a>
</body>

</html>


