<!DOCTYPE html>
<html>
    <header>
        <title>
            Asking a question
        </title>
    </header>
    <body>
        <h1>Asking a question</h1> <br><br>
        <form action="/form" method="post">
            Type in your question here: <br>
            <input type="text" name="title" size="61"> <br><br>
            In details: <br>
            <input type="text" name="message" style="font-size:12pt;height:220px;width:400px;"><br><br>
            <input type="file" name="image">
            <input type="submit" value="Submit">
        </form>
        <a href="/">Cancel</a>
    </body>
</html>