<!DOCTYPE HTML> 

<html>

<head> 
	<title>AskMate by Iron Brando </title>
	<style>

			table {
				border: 1px solid black;
				border-collapse: collapse;
				width: 100%;
			}
	
			td, th {
				border: 1px solid black;
				border-collapse: collapse;
			}
	
		</style>

</head>

<body>
	<h1>Ask Mate, latest questions: </h1>
	<a href="/form">Ask a question</a> <br><br>


	<table>

        <tr>

            <th>Question ID</th>
            <th>Submission Time</th>
            <th>View Number</th>
            <th>Vote Number</th>
            <th>Title</th>
            <th>Message</th>

        </tr>

 	{% for question in questions %}
	<tr>

	 <td><a href="/details/{{ question['id'] }}">{{ question["id"][:8] + "..." }}</a></td>
	 <td align="center">{{ question["submission_time"] }}</td>
  	 <td align="center">{{ question["view_number"] }}</td>
  	 <td align="center">{{ question["vote_number"] }}</td>
  	 <td align="center">{{ question["title"] }}</td>
   	 <td align="center">{{ question["message"] }}</td>
	</tr>
	{% endfor %}

	</table>

</body>

</html>
