{% extends "layout.html" %}


{% block content %}
    

    {% if truncated %}
        <div class="link-box">
            <p><a href="{{ url_for('route_list') }}">Show all questions</a></p>
        </div>
    {% endif %}
    <br>
    <a href="">User list</a>
    <br>

    <div class="table-container">
        <table>
            <tr>
                <th>
                    Submission Time
                    <a href="{{ url_for('order_questions', column='submission_time', order='DESC') }}">↑</a>
                    <a href="{{ url_for('order_questions', column='submission_time', order='ASC') }}">↓</a>
                </th>
                <th>
                    Question Title
                    <a href="{{ url_for('order_questions', column='title', order='DESC') }}">↑</a>
                    <a href="{{ url_for('order_questions', column='title', order='ASC') }}">↓</a>
                </th>
                <th>
                    Author
                    <a href="{{ url_for('order_questions', column='author_email', order='DESC') }}">↑</a>
                    <a href="{{ url_for('order_questions', column='author_email', order='ASC') }}">↓</a>
                </th>
                <th>
                    View Number
                    <a href="{{ url_for('order_questions', column='view_number', order='DESC') }}">↑</a>
                    <a href="{{ url_for('order_questions', column='view_number', order='ASC') }}">↓</a>
                </th>
                <th>
                    Vote Number
                    <a href="{{ url_for('order_questions', column='vote_number', order='DESC') }}">↑</a>
                    <a href="{{ url_for('order_questions', column='vote_number', order='ASC') }}">↓</a>
                </th>
            </tr>

        {% for question in questions %}
            <tr>

                <td>{{ question["submission_time"] }}</td>
                <td class="question-title"><a href="{{ url_for('get_question_details', question_id = question["id"]) }}">{{ question["title"] }}</a></td>
                <td>{{ question["author_email"] }}</td>
                <td>{{ question["view_number"] }}</td>
                <td>{{ question["vote_number"] }}</td>
            </tr>
        {% endfor %}

        </table>
    </div>

{% endblock %}
