<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New answer</title>
</head>
<body>
    <h1>{{ user_action }} answer</h1><br>
    <h2>{{ dict_of_question["title"] }}</h2>
    <p>Question message: </p>
    <p>{{ dict_of_question["message"] }}</p>
        <form action="{{ form_action }}" method="post">
            <p>Answer message:</p>

            <textarea name="message"
                      placeholder="Minimum 10 characters..."
                      required minlength="10"
                      cols="60" rows="10">{{ dict_of_answer["message"] }}</textarea>
            {% if dict_of_answer is not none %}
                <input name="id" type="text" value="{{ dict_of_answer["id"]}}" hidden>
            {% endif %}
            <input type="submit" value="Submit">
        </form>

        <p><a href="/">Back to home</a></p>
        <p><a href="/details/{{ dict_of_question['id'] }}">Back to the Question</a></p>

</body>
</html>