{% extends "layout.html" %}

{% block content %}

    <h2>{{ user_action }}</h2>

    <form action="{{ form_action }}" method="post" id="user-reg">
        <p>
            <label for="user-email">Email address: </label>
            <input type="text" id="user-email" name="email" placeholder="example@codecool.com" required>
        </p>
        {% if user_action == "Sign up" %}
        <p>
            <label for="user-name">Name: </label>
            <input type="text" id="user-name" name="name" placeholder="Jane Doe" required>
        </p>
        {% endif %}
        <p>
            <label for="user-pw">Password: </label>
            <input type="password" id="user-pw" name="plain_text_password" placeholder="s3cur3_p4ssw0rd" required>
        </p>
        <button type="submit">{{ user_action }}</button>
    </form>

    {% if registration_failed is sameas true %}
        <div>
        <p class="error-message">Error: email already registered!</p>
        </div>
    {% endif %}

    {% if verification_failed is sameas true %}
        <div>
        <p class="error-message">Error: invalid email or password</p>
        </div>
    {% endif %}

    {% include "footer.html" %}

{% endblock %}