{% extends "layout.html" %}

{% block content %}


    <h2>{{ dict_of_question["title"] }}</h2>
    <div class="question-upper">

        <div class="question-voting">
            <form action="{{ url_for("upvote_question") }}" method = "post" id="question-upvote">
                <input name ="question_id" value = "{{ dict_of_question['id']}}" hidden>
                <button type="submit" form="question-upvote">Upvote question</button>
            </form>


            <form action="{{ url_for("downvote_question") }}" method = "post" id="question-downvote">
                <input name = "question_id" value = "{{ dict_of_question['id']}}" hidden>
                <button type="submit" form="question-downvote">Downvote question</button>
            </form>

        </div>

        <div class="question-details">
            <h3>Question details</h3>

            <p>Detailed question message:</p>
            <p><em>{{ dict_of_question["message"] }}</em></p>



            <p><a href="{{ url_for('new_answer',  question_id=dict_of_question['id']) }}">Add a new answer</a></p>
        </div>

        <div class="question-comments">
            <h3>Comments</h3>
            <p><a href="{{ url_for('comment_to_question', question_id=dict_of_question['id']) }}">Add new comment</a></p>
            {% if comments_for_question %}
                <table>
                    <tr>
                        <th>Submission time</th>
                        <th>Comment</th>
                    </tr>
                {% for comment in comments_for_question %}
                        <tr>
                            <td> {{ comment["submission_time"] }} </td>
                            <td> {{ comment["message"] }} </td>
                        </tr>
                {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

	{% if answers_to_list %}
    <div class="question-lower">
        <h3>Answers</h3>

        {% for dict_of_answer in answers_to_list %}
            <div>
                <table>
                    <tr>
                        <td>
                            <p>Answer submission: {{ dict_of_answer["submission_time"] }}</p>
                            <p><h3>{{ dict_of_answer["message"] }}</h3></p>
                            <p><a href="{{ url_for('comment_to_answer', answer_id=dict_of_answer['id']) }}">Add new comment</a></p>
                            <p><a href="{{ url_for("edit_answer", answer_id=dict_of_answer["id"]) }}">Edit answer</a></p>
                        </td>
                        <td>
                            <p>
                                <form action="{{ url_for("upvote_answer") }}" method="post" id="answer-upvote">
                                    <input name="answer_id" value="{{ dict_of_answer["id"] }}" hidden>
                                    <button type="submit" form="answer-upvote">Upvote</button>
                                </form>
                            </p>
                            <p>
                                <form action="{{ url_for("downvote_answer") }}" method="post" id="answer-downvote">
                                    <input name="answer_id" value="{{ dict_of_answer["id"] }}" hidden>
                                    <button type="submit" form="answer-downvote">Downvote</button>
                                </form>
                            </p>
                            <p>{{ dict_of_answer["vote_number"] }}</p>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <th>Submission time</th>
                        <th>Comment</th>
                    </tr>
                {% for comment in comments_for_answer if comment["answer_id"] == dict_of_answer["id"] %}
                    <tr>
                        <td>
                            <p>{{ comment["submission_time"] }}</p>
                        </td>
                        <td>
                            <p>{{ comment["message"] }}</p>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
    {% endif %}


	{% include "footer.html" %}

{% endblock %}

