{% extends "layout.html" %}

{% block content %}


    <h2>{{ dict_of_question["title"] }}</h2>
    <div>
        <h3>Question details</h3>

        <p>Detailed question message:</p>
        <p><em>{{ dict_of_question["message"] }}</em></p>


        <form action="{{ url_for("upvote_question") }}" method = "post">
            <input name ="question_id" value = "{{ dict_of_question['id']}}" hidden>
            <input type="submit" value="Upvote this question" >
        </form>
        <br>


        <form action="{{ url_for("downvote_question") }}" method = "post">
            <input name = "question_id" value = "{{ dict_of_question['id']}}" hidden>
            <input type="submit" value="Downvote this question" />
        </form>


        <br>


        <a href="{{ url_for('comment_to_question', question_id=dict_of_question['id']) }}">Add a new comment</a> <br> <br>


        <a href="{{ url_for('new_answer',  question_id=dict_of_question['id']) }}">Add a new answer</a>



        {% if comments_for_question %}
            <h3>Comments for this question</h3>
            <table>
                <tr>
                    <th>Submission time</th>
                    <th>Comment</th>
                </tr>
            {% for comment in comments_for_question %}
                    <tr>
                        <td> {{ comment["submission_time"] }} </td>
                        <td> {{ comment["message"] }} </td>
                    </tr>
            {% endfor %}
            </table>
        {% endif %}
    </div>

	{% if answers_to_list %}
    <div>
        <h3>Answers</h3>

        {% for dict_of_answer in answers_to_list %}
            <div>
                <table>
                    <tr>
                        <td>
                            <p>Answer submission: {{ dict_of_answer["submission_time"] }}</p>
                            <p><h3>{{ dict_of_answer["message"] }}</h3></p>
                            <p><a href="{{ url_for('comment_to_answer', answer_id=dict_of_answer['id']) }}">Add new comment</a></p>
                            <p><a href="{{ url_for("edit_answer", answer_id=dict_of_answer["id"]) }}">Edit answer</a></p>
                        </td>
                        <td>
                            <p>
                                <form action="{{ url_for("upvote_answer") }}" method="post">
                                    <input name="answer_id" value="{{ dict_of_answer["id"] }}" hidden>
                                    <input type="submit" value="Upvote">
                                </form>
                            </p>
                            <p>
                                <form action="{{ url_for("downvote_answer") }}" method="post">
                                    <input name="answer_id" value="{{ dict_of_answer["id"] }}" hidden>
                                    <input type="submit" value="Downvote">
                                </form>
                            </p>
                            <p>{{ dict_of_answer["vote_number"] }}</p>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <th>Submission time</th>
                        <th>Comment</th>
                    </tr>
                {% for comment in comments_for_answer if comment["answer_id"] == dict_of_answer["id"] %}
                    <tr>
                        <td>
                            <p>{{ comment["submission_time"] }}</p>
                        </td>
                        <td>
                            <p>{{ comment["message"] }}</p>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
    {% endif %}


	{% include "footer.html" %}

{% endblock %}

