{% extends "layout.html" %}

{% set question_author = question_author %}
{% set author_id = dict_of_question["user_id"] %}

{% block content %}


    {% include "question_details.html" %}

        {% if "user" in session %}
        <p><a href="{{ url_for('new_answer',  question_id=dict_of_question['id']) }}">Add new answer</a></p>
        {% endif %}

	{% if answers_to_list %}

        <h3>Answers</h3>


        {% for dict_of_answer in answers_to_list %}
        <div class="question-page-frame answer-frame">
            <div class="question-page-content answer-container">
                <table>
                    <tr>
                        <td>
                            <p>Written by <a href="{{ url_for("user_page", user_id=dict_of_answer["user_id"]) }}">{{ dict_of_answer["author_email"] }}</a> {{ dict_of_answer["submission_time"] }}</p>
                            <p class="main-message">{{ dict_of_answer["message"] }}</p>
                            <p><a href="{{ url_for('comment_to_answer', answer_id=dict_of_answer['id']) }}">Add new comment</a></p>
                            <p><a href="{{ url_for("edit_answer", answer_id=dict_of_answer["id"]) }}">Edit answer</a></p>
                        </td>
                        <td>
                            <p>
                                <form action="{{ url_for("upvote_answer") }}" method="post" id="answer-upvote">
                                    <input name="answer_id" value="{{ dict_of_answer["id"] }}" hidden>
                                    <button type="submit" form="answer-upvote">Upvote</button>
                                </form>
                            </p>
                            <p>
                                <form action="{{ url_for("downvote_answer") }}" method="post" id="answer-downvote">
                                    <input name="answer_id" value="{{ dict_of_answer["id"] }}" hidden>
                                    <button type="submit" form="answer-downvote">Downvote</button>
                                </form>
                            </p>
                            <p>{{ dict_of_answer["vote_number"] }}</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="question-page-content answer-comments">
                <table>
                {% for comment in comments_for_answer if comment["answer_id"] == dict_of_answer["id"] %}
                    <tr>
                        <td>
                            <p>{{ comment["submission_time"] }}</p>
                        </td>
                        <td>
                            <p>{{ comment["message"] }}</p>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        {% endfor %}
    {% endif %}


	{% include "footer.html" %}

{% endblock %}

